body {
    background-image: url(https://cdn.dribbble.com/users/6776106/screenshots/15454067/media/ffefec95865a4f5a6f6e78cc93c21528.png?resize=1000x750&vertical=center);
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    font-family: "Carter One", cursive;
    color: rgb(207, 207, 207);
    -webkit-text-stroke: 1px #1b0046;
}

h1.main-title {
    font-size: 3rem;
}

h2.main-title {
    font-size: 2rem;
}

h3.main-title {
    font-size: 1rem;
}

h4.main-title {
    font-size: 0.8rem;
}

h5.main-title {
    font-size: 0.5rem;
}

h6.main-title {
    font-size: 0.2rem;
}

header.cabecalho .main-title {
    margin: 0;
}

header.cabecalho {
    text-align: center;
}

header.cabecalho > a:link {
    text-decoration: none;
}

ul.lista-personagens > li > img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

ul.lista-personagens > li {
    width: 25%;
    box-sizing: border-box;
    padding: 2px;
}

ul.lista-personagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
}

main.selecao-personagens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}

main.selecao-personagens .personagem-atributos {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;
    max-height: 32rem;
    flex: 1;
    align-self: stretch;
    padding: 1rem;
    background-image: url(https://e0.pxfuel.com/wallpapers/498/69/desktop-wallpaper-wing-ho-on-%E9%A2%A8%E8%8A%B1%E9%9B%AA%E6%9C%88-japanese-calligraphy.jpg);
    border-radius: 16px;
    overflow-y: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maskable {
    position: relative;
}

.mask {
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

main.selecao-personagens .personagens {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%;
}